* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

img {
    height: 400px;
}

.card {
    background-color: rgb(30, 30, 30);
    border: 1px solid white;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

body {
    background-color: black;
}